
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="img temp/picture7.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>
              We are a dedicated team of security professionals committed to safeguarding people, property, 
              and peace of mind. With years of hands-on experience and a reputation for reliability,
              we deliver tailored security solutions for every situation. Whether you need on-the-ground
              protection, discreet investigations, or advanced surveillance systems, 
              our mission is to keep you safe—always, everywhere.
            </p>

          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">

        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                What we do
              </h2>
            </div>
            <p>
              We deliver tailored security solutions that protect what matters most. Our team of trained professionals offers a full range of services—from armed guards and bodyguards to surveillance, access control, and crime prevention. Whether it's securing events, patrolling properties, or providing discreet personal protection, we’re committed to safety with precision, professionalism, and trust
            </p>

          </div>
          
        </div>
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="img temp/picture10.jpeg" alt="" />
            </div>
          </div>
        </div>
        
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="img temp/picture8.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Where we do it?
              </h2>
            </div>
            <p>
              Our services extend across commercial, residential, industrial, and public sectors. We secure office parks, shopping centers, private estates, construction sites, schools, transport hubs, and major events. Whether you're in need of close protection in urban areas, access control at business premises, or patrols in high-risk neighborhoods—we bring expert security to you, wherever you are.
            </p>

          </div>
        </div>
      </div>
      <br>
      <div class="row">

        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Training?
              </h2>
            </div>
            <p>
              Our security personnel and guard dogs undergo rigorous, professional training to operate effectively in any environment. From physical protection and patrol techniques to emergency response, access control, and public interaction, our guards are equipped with the skills and discipline to act with precision. Our trained dogs and handlers work as a seamless team—enhancing detection, deterrence, and response in high-risk areas. Ongoing courses and updated certifications ensure our teams stay sharp, reliable, and fully compliant with industry standards.
            </p>

          </div>
          
        </div>
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="img temp/picture6.jpg" alt="" />
            </div>
          </div>
        </div>
        
      </div>
      <br>
    </div>
  </section>
  <!-- end about section -->


