  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <a class="navbar-brand" href="index.html">
              <span>
                Empower Protectors
              </span>
            </a>
            <p>
              Your safety is our priority. Professional protection, 24/7 monitoring, and peace of mind you can trust—wherever you are.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_info">
            <h5>
              Contact Us
            </h5>
          </div>
          <div class="info_contact">
            <a href="" class="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
               mathuto@empowerprotectors.co.za
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +27 79 042 1708
              </span>
            </a>
            <a href="" class="" style="padding-left: 70px;">
              <i hidden="true" class="fa fa-phone" aria-hidden="true"></i>
              <span>
                +27 10 502 0635
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                37 Duchesses street, Windsor East JHB 
                2194
           

              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->
  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; <span id="currentYear"></span> All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </footer>
  <!-- footer section -->