
    <header class="header_section ">
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span>
                <img src="img temp\Screenshot 2023-10-17 181034.png" class="image-logo">
                Empower Protectors
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <div class="nav-link" data-page="home">Home </div>
                </li>
                <li class="nav-item">
                  <div class="nav-link" data-page="about"> About</div>
                </li>
                <li class="nav-item">
                  <div class="nav-link" data-page="service"> Services </div>
                </li>
                <!-- <li class="nav-item">
                  <div class="nav-link" data-page="guard"> Guards </div>
                </li> -->
                <li class="nav-item">
                  <div class="nav-link" data-page="contact">Contact us</div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>